.bg{
    background-color: yellow;
    text-align: center; 
    background-size: contain;


}
.main{
    border-left: 2px solid green;
    margin-left: 200px;
    margin-bottom: 200px;
    position: relative;
    bottom: 200px;
    padding: 15px;
}
.contact{
    text-align: center;
    position: relative;
    bottom: 140px ;

}
.multibox{
    border: 2px;
    border-color: green;
    border-style: dotted;
    position: relative;
    left: 1600px;
    bottom: 850px;
    width: fit-content;
    height: fit-content;
}
text{
    text-align: center ;
}

